body{
    background-color: #222222;

   
    padding:3%;
    
}

#content_wrapper{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;    
}

a{
    color: #1985A1;
}

#titulo{
    text-align: center;
    font-size: larger;
}




#logo{
    width: 293px;
    height: 304px;
}

#form_container{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    color:#222222;
    padding: 50px;
    border-radius:20px;
    width: 70%;
}

.input_div{
    margin-bottom:24px;
    position: relative;
    margin-top: 20px;

}

.text_input{
    width: 90%;
    height: 3vh;
    border: solid 1px #222222;
    border-radius: 5px;

    padding:8px;

}

label{
    
    position:absolute;
    top: -8px;
    left: 20px;
    background-color: #F2F2F2;

    font-size: 0.8em;

}


#checkbox_div p{
    display:inline;
}

#i_password, #i_password_c {
    background-image: url("../img/olho.svg");
    background-repeat: no-repeat;
    background-position: 97%;
}


#cadastrar_bt{
    background-color: #105F74;
    color:#F2F2F2;
}

#login_bt{
    color:#105F74;
}

#cadastrar_bt, #login_bt{
    margin-top: 24px;
    width: 95%;

    height: 6vh;
    border: none;
    border-radius: 5px;
    
} 

@media screen and (max-width: 800px) {
    
        
    #content_wrapper{

        display: flex;
        flex-direction: column-reverse;
        gap: 5vh;
        
    }

    
    #logo{
        width: 146.5px;
        height: 152px;
    }
}