body{
    background-color: #222222;
    padding-top: 32px;
    padding-left: 16px;
    color:white;

   
}

.content_wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
}



a{
    color: #1985A1;
}


header p{
    display: inline;
}

#header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header form{
    width: 50%;
    
}

input{
    color:white;
}

header form input{
    width: 100%;
    height: 4vh;
    border-radius: 25px;
    padding:8px;
    padding-left: 24px;
    background-color: #484848;
    border:none;
    background-image: url("../img/Search_vector.svg");
    background-repeat: no-repeat;
    background-position: 95%;
}



#logo{
    width:60px;
    height: 62.35px;
}


.circulo_usuario{

    width: 48px;
    height: 48px;
    background-color: #D9D9D9;
    border:none;
    border-radius: 100%;
    display: inline-block;
}




#flex_container{

    margin-top: 54px;
    display: flex;
 
    gap:40px;

    overflow: hidden;
    height: 100%;

}


.text_and_circle_header {
    display: flex;
    align-items: center;
    gap:16px;
  
}

/*Barra da Esquerda*/ 

nav{
    flex: 0.8;
}

.nav_item{
    display: flex;
    align-items: center;
    justify-content: start;
    gap:16px;
}

.nav_item img{
    width: 40px;
}

#navItem_Busca{
    display: none;
}



/* Conteúdo central do site */

main{
    flex: 2;
    overflow-y: auto;

}



.text_and_circle_aside{
    display: flex;
    align-items: center;
    gap: 8px;

}

#main_content_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#post_ttwitt_container{
    width: 84%;
    border: 1px solid #4C5C68;
    padding-bottom:32px;
    padding-left:32px;
    padding-right:32px;
    padding-top:24px;
    margin-bottom: 24px;
}

#post_textarea{
    color:white;
    background-color: #222222;
    border: none;
    resize: none;

    width: 100%;
    height:11vh;
    margin-bottom: 8px;
}


.post_container{
    display: flex;
    flex-direction: column;

    align-content: start;
    
}

.post{
    width: 84%;
    border: 1px solid #4C5C68;
    border-bottom-width:0.5px ;
    border-top-width:0.5px ;


    padding: 32px;
}


#post_icone1{
 width: 19.75px;
 height: 19.75px;
}
#post_icone2{
    width: 20.83px;
}
#post_icone3{
    width: 20.83px;
}

#postar_botao{
    background-color: #1985A1;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;

    padding:12px 30px 12px 30px;

}


#buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#vectors_container{
    display: flex;
    gap:8px;
    
}


.profile_and_image{
    display: flex;
    align-content: center;
    gap:16px;
}

.profile_picture{
    width: 56px;
    height: 56px;
    border:none;
    border-radius: 100%;
}

.image_and_buttons{
    display: flex;
    flex-direction: column;
}

.post_picture{
    width: 90%;
    height: auto;
    margin-top: 16px;
    align-self: center;

}

.buttons_container{

    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;
}

.buttons_container img{
    width: 32px;
}

.like_button{
    margin-right: 1vw;
}
.ttwit_text{
    margin-left: 6%;
}


/*Sidebar direita*/


aside{
    flex: 1.2;
        
}

#sidebar_container{
    display: flex;
    flex-direction: column;
    align-items: start;

}

.sidebar_item{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-between;
    margin-bottom: 16px;
  
}



.adicionar_button{
    border: none;
    background-color: #222222;
    color: #22A2F2;
    border-radius: 15px;

    font-size:small;

}


@media screen and (max-width:800px) {
    body{
        padding-left: 8px;

    }

        
    #flex_container{
        gap:7vw;

    }


    .circulo_usuario{

        width: 40px;
        height: 40px;
       
    }

    aside{
        display: none;
    }    
    main{
        flex:3;
    }

    nav{
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex:0.1;
    }
    #navItem_Busca{
        display: inline;
    }
    .nav_item p{
        display: none;
    }
    
    .nav_item img{
        width: 30px;
    }

        
    header form input{
       display: none;
    }

        
    #postar_botao{
      
        padding:6px 15px 6px 15px;

    }

    #post_ttwitt_container{
        width: 73%;
        border: 1px solid #4C5C68;
        padding-bottom:32px;
        padding-left:32px;
        padding-right:32px;
        padding-top:24px;
        margin-bottom: 24px;
    }
    .post{
        width: 73%;
    

        padding: 32px;
    }

    .profile_picture{
        width: 40px;
        height: 40px;
        border:none;
        border-radius: 100%;
    }

        
    .buttons_container img{
        width: 24px;
    }
}